h1{
    color : red;
}
h2{
    color: blue;
}
h3{
    color: green;
}
    #para1 {
    text-align: left;
    }
    #para2 {
    text-align: right;
    }

    .red {
    text-align: center;
    color: red;
    }
    .blue {
    text-align: center;
    color: blue;
    }